.footer {
  $footer-background: $dark-gray;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);
  
  background: $footer-background;
  padding: em(12);
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  @include media($medium-screen-up) {
    padding: $base-spacing;
    height: 72px;
    ul {
      float: left;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  ul li {
    padding-right: 1em;
    font-weight: 800;
    display: inline;
    text-align: left;
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($medium-screen-up) {
      float: right;
    }

    li {
      font-size: .8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;

      @include media($medium-screen-up) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        padding-right: .7em;
        @include media($medium-screen-up) {
          float: left;
          margin-top: 0;
      }

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        opacity: .7;
        height: 2.2em;
        padding: 1px;
        @include media($medium-screen-up) {
          opacity: .7;
          height: 1.6em;
          padding: 1px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
