header.navigation {
	@include media($medium-screen-up) {
		height: em(64);
		padding: 0;
		padding-top: em(8);
	};
	height: em(50);
	padding: em(12) em(8);
	background-color: lighten($base-accent-color, 32%);
	border-bottom: 1px solid lighten($base-accent-color, 25%);
	box-shadow: $base-shadow;
	ul {
		li {
			display: inline-block;
		}
	}
}
.navigation-home {
	padding-left: em(12);
	@include span-columns(3);
	@include media($medium-screen-down) {
		@include span-columns(3);
	}
}
.primary-navigation {
	display: none;
	@include media (new-breakpoint(min-width em(1100) $grid-columns)) {
		@include span-columns(5);
		margin: em(16) 0;
		li {
			a {
				border-right: $base-border;
				padding: 0 em(20);
				font-size: 1em;
				color: $base-font-color;
			}
			&:first-of-type {
				a {
					border-left: $base-border;
				}
			}

			&:last-of-type {
				a {
					border-right: none;
				}
			}
		}
	}
}

.secondary-navigation {
	@include span-columns(4);
	@include omega;
	margin: em(4) 0;
	float: right;

	li {
		float: right;
		width: 42%;
		margin-left: 2%;
		text-align: center;
		@extend %button;
		@include appearance(none);
		border: none;
		cursor: pointer;
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;
		@include transition (all .2s ease-in-out);
	}
	a {
		color: white;
	}
	span {
		margin-right: em(8);
	    font-size: 1.2em;
	}

	@include media($medium-screen-down) {
		@include span-columns(3);
			li {
				background: none;
				padding: 0;
				padding-right: 0.75em;
				&:hover {
					background:none;
				}
			}

			a {
				color: $medium-gray;

				span {
					display: none;
				}
			}
			
		}
}








